*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;        
  font-family: 'Charm', cursive;
  font-family: 'Crimson Text', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Newsreader', serif;
  font-family: 'Roboto Mono', monospace; 
}
.icon-nav i
{
   color: black;
   font-size: 25px;

}

